*.zip
*.tar
*.rar
*.gz
*.jar
*.war
*.ear
*.iso
*.exe
*.log
*.dll
*.class
*.com
*.tmp
*.bak
Thumbs.db
desktop.ini
*.doc
*.docx
*.xls
*.xlsx
*.xlsb
*.pptx
*.iml


### IntelliJ Specific files
.idea/*
out/
.idea_modules/
.DS_Store

### Maven ###
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
mvnw
mvnw.cmd
############################################################################
